/* 2E2C2F */

@font-face {
    font-family: 'Trajan';
    src: url('misc/Trajan/Font.ttf');
}

body
{
    margin: 0;
    /* padding: 0; */
    font-family: 'Roboto Mono', monospace;
    background-color: #000;
}

.container
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    grid-template-rows: 1fr 4fr;
    /* grid-template-rows: 100vh; */
}

.sidebar
{
    grid-column: 1;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    background-color: #F0EC57;
}

.logo
{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-size: 22px;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    /* justify-content: center; */
    gap: 10px;
    margin-top: 17px;
    margin-left: 21px;
    margin-bottom: 60px;

}

.sidebar_grid
{
    display: grid;
    grid-template-columns: 1fr; 

}
.sidebar #quickLinks, #help
{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;   
}

#quickLinks  > div, #help > div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* justify-content: center; */

}

#quickLinks > div:hover, #help > div:hover
{
    transform: scale(1.09);
}

/* #help
{
    margin-top: 30px;
} */

.sidebar a
{
    text-decoration: none;
    color: black;
    text-shadow: -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    display: grid;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    margin-left: 55px;
    gap: 12px;
    margin-top: auto;

}

.sub
{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.header
{
    grid-column: 2/-1;
    /* grid-row: ; */
    background-color: white;
    display: flex;
    flex-direction: column;
}

#search
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.searchbar
{   
    grid-column: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-top: 18px;
    margin-left: 50px;
    margin-bottom: 22px;
}

#bar
{   
    /* grid-column: 1; */
    flex: 1 ;
    border: 1px solid black;
    border-radius: 15px;
    height: 30px;
    width: 500px;
    outline:none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: none;
    text-align: center;
    font-size: large;
    /* background-color: rgb(white white, white, 0.5);     */
}

#bar:hover, #bar:focus
{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.admin
{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-self: end;
    gap: 32px;
    align-items: center;
    margin-right: 45px;
}

.username
{
    font-size: 15px;
    font-family: 'Trajan';
}
.greetings
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    gap: 25px;
}

.text
{   
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub_text
{
    font-size: 12px;
    font-weight: bold;
}
.main_text
{
    font-size: 22px;
    font-weight: bold;
}

.options
{
    display: flex;
    grid-column: 2;
    flex-direction: row;
    align-items: center;
    justify-self: end;
    gap: 18px;
    margin-right: 45px;
}

.options button
{   
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    color: #F0EC57;
    background-color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.welcome
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-between; */
}

.options button:hover
{   
    background-color: #F0EC57;
    color: black;
    transform: scale(1.1);
    
}

.thread_grid
{   
    grid-column:2;
    grid-row: 2/-1;
    background-color: #2E2C2F;
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 12px 12px;
    border: solid 1px white; */
}

.thread_heading
{
    color: white;
    margin-top: 20px;
    margin-left: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}

.card
{   
    background-color: white;
    height: 200px;
    width: 350px;
    align-self: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* background-image: linear-gradient(rgba(240, 236, 87, 0.8), rgba(240, 236, 87, 0.5)) */

}

.card:hover
{   
    box-shadow: -5px 0 0px #F0EC57;
    transform: scale(1.05);
}

.card_container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-row-gap: 30px;
    margin-left: 23px;
    margin-bottom: 30px;

}

#topic
{
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    margin-top: 30px;
}

.card span
{
    font-family: sans-serif;
    margin-left: 22px;
    margin-right: 22px;
    
}

.interact
{
    display: flex;
    flex-direction: row;
    gap: 27px;
    justify-content: flex-end;
    margin-top: auto;
    margin-right: 12px;
    margin-bottom: 3px
}

.interact img:hover
{
    transform: scale(1.1);
}


.misc
{
    background-color: #2E2C2F;
    grid-column: 3;
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 40px;
}

.announcement,.trending
{
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
}

.announcement span, .trending span
{
    color: white;
    margin-top: 12px;
    margin-left: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    /* argin-bottom: 20px;m */
    gap: 20px;
}

.announcement_card, .trending_card
{
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 12px;
    /* justify-self: center; */
    /* height: 200px; */

}

#item{
    padding: 10px;
    border-bottom: 1px solid #000;
    /* display: flex;
    flex-direction: column; */
}

#item:last-child {
    border-bottom: none;
}

#item span
{
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-left: auto;
    margin-top: auto;
}


#item p
{
    gap: 2px;
    font-size: 12px;
}

.trending 
{
    gap: 12px;
}

#personnel
{
    /* gap: 5px */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

span#at
{
    color: black;
    font-size: 13px;
    margin-right: auto;
    margin-bottom: auto;
}

span#name
{
    color: grey;
    font-size: 13px;
    margin-top: auto;
}

#personnel #text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    /* margin-right: auto; */
    /* align-items: center; */
}

.trending{
    margin-bottom: 25px;
}